# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# knitr and R markdown default cache directories
/*_cache/
/cache/
slides_cache/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
talks/20240527_jds_zi/pres.log
talks/20240527_jds_zi/pres.aux
talks/20240527_jds_zi/pres.dvi
talks/20240527_jds_zi/pres.bbl
talks/20240527_jds_zi/pres.blg
talks/20240527_jds_zi/pres.fdb_latexmk
talks/20240527_jds_zi/pres.synctex.gz
talks/20240527_jds_zi/pres.bbl
talks/20240527_jds_zi/pres.out

